<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>TerraPin</title>
  <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>


<div id="top">
  {{>nav}}
</div>

<body>
    {{!-- where the pins will be displayed --}}
    <div id="center">
        {{{body}}}
    </div>

    {{!-- <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.js"></script>
    <script>
        var card = require("./models/cardify");

        console.log("in script in main")
        var socket = io(); 

        // capture the data
        var name = ""
        var onCampus = false
        var tags = []
        var user = ""
        var image = ""
        var description = ""

        //Task 2 - Step 1: Send a POST request when client has completed and submitted new movie form
        $('#form').submit(function() { //When "post" button is pressed

            // grab data from fields
            name = $("input[name='name']").val()
            onCampus = $("input[name='onCampus']").val() === true
            tags = $("input[name='onCampus']").val().toString().split(" ")
            user = $("input[name='user']").val()
            image = $("input[name='image']").val()
            description = $("input[name='description']").val()

            // clear the fields
            $("input[name='name']").val(""),
            $("input[name='onCampus']").val("")
            $("input[name='onCampus']").val("")
            $("input[name='user']").val("")
            $("input[name='image']").val("")
            $("input[name='description']").val("")

            $.ajax({
                type: "POST",
                url: '/create',
                data: {
                    name: name,
                    description: description
                    onCampus: onCampus,
                    image: image,
                    tags: tags,
                    avgRating: 0,
                    reviews: [],
                    recommendation:[]
                },
                success: function(data, status) {
                    console.log(data);
                }
            });
            return false; //Ensures the page does not reload
        });

        //Task 2 - Step 2: Listen for message from server when some client creates a new pin
        socket.on('new pin', function(pin) {
            var new_card = card.cardify(pin)
            console.log(new_card)

            $('#left').append(new_card);
        })
    </script> --}}
</body>

</html>
