<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>TerraPin</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>

<div id="top">
  {{>nav}}
</div>

<body>
  {{!-- where the pins will be displayed --}}
  <div id="left">
    {{{body}}}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    var socket = io();
  </script>
</body>

</html>
