form: {
location: [Pin]
reason: String
user: String
}
<article id="form">
    {{!-- TODO: SEND THIS VARIABLE --}}
    <h1>Add a recommendation!</h1>
    {{!-- TODO: add createRec endpoint --}}
    <form id="createForm" method="POST" action=/createRecommendation>
        <div class="input-field">
            <label>Recommendation location:</label><br>
            {{!-- Populate with dropdownlist of names from database --}}
            <select name="recLocation">
                {{#each locations}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>            
        </div>
        <div id="space"></div>
        <div class="input-field">
            <label>This recommendation is for:</label><br>
            {{!-- Populate with dropdownlist of names from database --}}
            <select name="recLocationFor">
                {{#each locations}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div id="space"></div>
        <div class="input-field">
            <label>Your name:</label><br>
            <input type="text" name="user" size="50" placeholder="ex: Tiff">
        </div>
        <div id="space"></div>
        <div class="input-field">
            <label>Reason for recommending this location:</label><br>
            <input type="text" name="reason" size="50" placeholder="ex: this place also makes great coffee!">
        </div>
        <div id="space"></div>
        <div id="space"></div>
        <button id="submitPin" type="submit">Submit!</button>
    </form>
</article>